/* Estilo base para la tarjeta */
.card {
  width: 100%;
  max-width: 350px; /* Ancho máximo de la tarjeta en pantallas más grandes */
  margin: 0 auto;
  background: linear-gradient(to bottom, rgb(255, 0, 0), silver);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
}

/* Estilo de la tarjeta en dispositivos más pequeños, como móviles */
@media (max-width: 767px) {
  .card {
    max-width: 100%; /* Ocupa todo el ancho disponible en dispositivos pequeños */
    margin: 10px 0; /* Agrega un espacio vertical entre las tarjetas en dispositivos pequeños */
  }
}

/* Estilo de la cuadrícula de cuatro columnas en pantallas grandes */
@media (min-width: 768px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas con igual ancho */
    gap: 20px; /* Espacio entre las tarjetas */
  }
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.btn-agregar {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0.849), silver);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}

.btn-agregar:hover {
  background: linear-gradient(to bottom, #ff0000, #c0c0c0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.card-spinning {
  animation: spin 1s linear;
}

.card-spinning .card {
  background: linear-gradient(to bottom, #ff0000, #c0c0c0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
