:root {
  --color-primario: #f3eff0; /* Rosa pastel */
  --color-secundario: #8ae0f0; /* Amarillo pastel */
  --color-terciario: #6af3e1; /* Azul pastel */
  --color-fondo: #F5F5F5; /* Gris claro de fondo */
}